<%- include('includes/head') %>
<%- include('includes/nav') %>

<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>

    <div class="col-lg-8 my-3">

      <h1 class="text-center">Contact list</h1>
      <p class="text-center lead">Create or update your contact down below.</p>

      <%- include('includes/messages') %>

      <form action="/contact/create" method="POST">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <div class="mb-3">
          <label>First name</label>
          <input value="<%= contact.firstName %>" type="text" class="form-control" name="firstName">
        </div>
        <div class="mb-3">
          <label>Last name</label>
          <input value="<%= contact.lastName %>" type="text" class="form-control" name="lastName">
        </div>
        <div class="mb-3">
          <label>E-mail</label>
          <input value="<%= contact.email %>" type="email" class="form-control" name="email">
        </div>
        <div class="mb-3">
          <label>Phone number</label>
          <input value="<%= contact.phoneNumber %>" type="tel" class="form-control" name="phoneNumber">
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
      </form>

    </div>

    <div class="col-lg-2"></div>
  </div>
</div>

<%- include('includes/footer') %>