<%- include('includes/head') %>
<%- include('includes/nav') %>

<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>

    <div class="col-lg-8 my-3">
      <h1 class="text-center">Login / Register</h1>
      <p class="text-center lead">Please log in or register down below.</p>

      <%- include('includes/messages') %>

      <div class="row">
        <div class="col-lg my-5">
          <h4>Register</h4>
          <p>If you aren't registered yet, please fill in the form below:</p>

          <form class="form-register" action="/login/register" method="POST">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <div class="mb-3">
              <label>E-mail</label>
              <input type="email" class="form-control" name="email">
            </div>
            <div class="mb-3">
              <label>Password</label>
              <input type="password" class="form-control" name="password">
            </div>
            <button type="submit" class="btn btn-primary">Create my account</button>
          </form>

        </div>

        <div class="col-lg my-5">
          <h4>Login</h4>
          <p>If you already have an account, please log in:</p>

          <form class="form-login" action="/login/login" method="POST">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <div class="mb-3">
              <label>E-mail</label>
              <input type="email" class="form-control" name="email">
            </div>
            <div class="mb-3">
              <label>Password</label>
              <input type="password" class="form-control" name="password">
            </div>
            <button type="submit" class="btn btn-primary">Log in</button>
          </form>
        </div>

      </div>
    </div>

    <div class="col-lg-2"></div>
  </div>
</div>

<%- include('includes/footer') %>